.card-container {
    margin-top: 70px;
    max-width: 600px;
    margin-left: 300px;
    justify-content:right;
  }
  
  .job-cxard {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    width:1000px;
  }
  