body {
    margin: 0;
    padding: 0;
    font-family:poppins;
    font-weight: 700;

}
input::placeholder {
    color: #999;
    font-style: italic;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 101vh;
    background-color:rgb(222, 227, 241);
    padding-bottom: 0px;
}

.llogo {
    border-radius: 8px 0px 0px 0px;
    height:590px;
    max-width: 900px;
    margin-left: 20px;
  }
  .email
  {
    width: 200px;
  }
  .login {
    background-color: #fff;
    border-radius: 0px 8px 8px 0px;
    padding: 200px;
    width: 550px;
    margin-right: 19px;
    height: 190px;
   
  }
  
  .login form {
    margin-top: 0;
    margin-right: 900px;
    margin-bottom: 0px;
}
.login form h2
{ 
     margin-top: 0;
     margin-bottom: 2px;
}
.login form input::placeholder
{
  font-family: poppins;
  text-align: center;
}
.login form input {
    background-color: transparent;
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 18px;
  }
  .login form input:focus
  {
     outline-color:gray;
  }
  .login form button {
    width: 150px;
    padding: 10px;
    background-color: #004182;
    color: #fff;
    border: none;
    font-size: medium;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 70px;
    margin-top: 10px;
    font-family:poppins;
  }
  .login error
  {
    font-weight: bolder;
  }
  .login form button:disabled {
    background-color:#80abd9;
    cursor: not-allowed;
  }
  
  .login form button:hover:not(:disabled) {
    background-color: #004182;
  }

   
  